<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://localhost:5000/static/search.css">
  <title>BusStop - Search</title>
</head>
<body>
  <div class="container">

    <header class="mb20">
      <h1>Search Results</h1>
      <h2 class="lead"><strong class="text-danger">{{ len_results }}</strong> results were found for <strong class="text-danger">{{ search_term }}</strong></h2>
    </header>

    <div class="col-xs-12 col-sm-6 col-md-12">
      <!-- Search results -->
      {% for i in results %}
      <div class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><span>Street:  {{ i[4] }}</span></li>
            <li><span>Locality:  {{ i[5] }}</span></li>
            <li><span>Stop:  {{ i[2] }}</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3>{{ i[3] }}</h3>
          <form action="/stop/{{ i[1] }}/" method="post">
            <div class="form-group row col-5">
              <label>Leave empty for now</label>
              <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="form-group row col-5">
              <input type="time" id="time" name="time" class="form-control">
            </div>
            <div class="form-group row col-7">
              <button type="submit" id="next" name="date-time" class="btn btn-primary">Get Times</button>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>